<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopify Base App</title>

    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script src="https://natedavis.me/nate/assets/js/vue.js"></script>

    <link rel="stylesheet" href="https://natedavis.me/nate/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://natedavis.me/nate/assets/css/polaris.css">
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
<script src="https://natedavis.me/nate/assets/js/shopify.js"></script>
